/* Default (Light) Theme using CSS Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  background-image: url(iskole_background_clean_copy.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Dark Theme styles applied automatically when the system prefers dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212; /* A dark gray is often better than pure black */
    --text-color: #e0e0e0; /* A light gray is often better than pure white */
  }
}

/* General styles using the variables */
body {
  /* Add a smooth transition for theme switching */
  max-width: 80%;
  margin: 0 auto;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.text-logo {
  font-family: "Arial", sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  color: #ffffff;
}

.welcome-text {
  background-color: #ffffff;
  color: #000000;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  margin-right: 15% !important;
  margin-bottom: 1%;
}

.welcome-text-title {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: bolder !important;
  color: #000000;
}

.welcome-text-text {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #000000;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.logo {
  padding-top: 1%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.btn-text {
  color: var(--text-color);
}

.login-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  border-color: var(--text-color);
  border-radius: 5px;
  margin-right: 15% !important;
}

.login-card {
  flex: 1;
  gap: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  background-color: var(--bg-color);
  border-color: var(--text-color);
  border-width: 1px;
  border-style: solid;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-text {
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--bg-color);
  padding-left: 10px;
  align-items: center;
  display: flex;
  gap: 10px;
}
